# Usage: ssh -F ssh_config boxman-libvirt
# Override BOXMAN_DATA_DIR and BOXMAN_SSH_PORT for different instances

Host boxman-libvirt
    HostName 127.0.0.1
    Port 2222
    User root
    IdentityFile ./data/ssh/id_ed25519
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
